<swiper-container class="Swiper swiper-initialized swiper-horizontal" navigation="false" loop="true"
  autoplay-delay="2500" speed="2000" autoplay-disable-on-interaction="true">

  <swiper-slide role="group" aria-label="NaN / 11" class="">
    <section
      class="bg-[url('https://ik.imagekit.io/verona/bulb/banner_1.jpg?q=75?updatedAt=1708414892078')] relative overflow-hidden min-h-screen flex items-end pb-10 bg-no-repeat bg-cover bg-center w-md -mt-16 pt-16 lg:mt-0 lg:pt-20 lg:items-center">
      <div class="w-full flex flex-row justify-left">
        <div
          class="hidden md:block ml-0 md:ml-32 flex-col m-6 p-6 text-white bg-[#293181] shadow-md bg-clip-border rounded-xl w-96">
          <img class="rounded-lg" src="https://fc-cdn.fameve.com/floral_credit_f50f/e93d0238-8635-4321-bc87-6d13a537c19b.jpg" alt="card-image" />
          <div class="py-6">
            <h5
              class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
              Upcoming Event
            </h5>
            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
              Meet & network with entrepreneurs and proffessionals
            </p>
          </div>
          <div class="py-6 pt-0">
            <button
            routerLink="/events/1"
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-[#FEAC16] text-black shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
              type="button">
              Buy Tickets
            </button>
          </div>
        </div>

        <div class="block md:hidden w-full h-48 bg-white m-6 rounded-md">
          <div class="flex flex-row">

            <div class="py-6 text-center">
              <h5
                class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                Holiday & Travel
              </h5>
              <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
                Meet & network with entrepreneurs and proffessionals
              </p>

              <button
              routerLink="/events/1"
                class="align-middle select-none bg-[#FEAC16] font-sans border-2 border-black font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg text-black hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                type="button">
                Buy Tickets
              </button>
            </div>
          </div>


        </div>
      </div>
    </section>


  </swiper-slide>

  <swiper-slide role="group" aria-label="NaN / 11" class="">
    <section
      class="bg-[url('https://ik.imagekit.io/verona/bulb/banner_2.jpg?q=75?updatedAt=1708414892078')] relative overflow-hidden min-h-screen flex items-end pb-10 bg-no-repeat bg-cover bg-center w-md -mt-16 pt-16 lg:mt-0 lg:pt-20 lg:items-center">
      <div class="w-full flex flex-row justify-left">
        <div
          class="hidden md:block ml-0 md:ml-32 flex-col m-6 p-6 text-white bg-[#293181] shadow-md bg-clip-border rounded-xl w-96">
          <img class="rounded-lg" src="https://fc-cdn.fameve.com/floral_credit_f50f/e93d0238-8635-4321-bc87-6d13a537c19b.jpg" alt="card-image" />
          <div class="py-6">
            <h5
              class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
              Upcoming Event
            </h5>
            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
              Meet & network with entrepreneurs and proffessionals
            </p>
          </div>
          <div class="py-6 pt-0">
            <button
              routerLink="/events/1"
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-[#FEAC16] text-black shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
              type="button">
              Buy Tickets
            </button>
          </div>
        </div>

        <div class="block md:hidden w-full h-48 bg-white m-6 rounded-md">
          <div class="flex flex-row">

            <div class="py-6 text-center">
              <h5
                class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                Holiday & Travel
              </h5>
              <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
                Meet & network with entrepreneurs and proffessionals
              </p>

              <button
                routerLink="/events/1"
                class="align-middle select-none font-sans border-2 border-black font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg bg-[#FEAC16] text-black hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                type="button">
                Buy Tickets
              </button>
            </div>



          </div>


        </div>
      </div>
    </section>


  </swiper-slide>
  <swiper-slide role="group" aria-label="NaN / 11" class="">
    <section
      class="bg-[url('/assets/images/events/group.jpeg')] relative overflow-hidden min-h-screen flex items-end pb-10 bg-no-repeat bg-cover bg-center w-md -mt-16 pt-16 lg:mt-0 lg:pt-20 lg:items-center">
      <div class="w-full flex flex-row justify-left">
        <div
          class="hidden md:block ml-0 md:ml-32 flex-col m-6 p-6 text-white bg-[#293181] shadow-md bg-clip-border rounded-xl w-96">
          <img class="rounded-lg" src="https://ik.imagekit.io/verona/bulb/banner_3.jpg?q=75?updatedAt=1708414892078" alt="card-image" />
          <div class="py-6">
            <h5
              class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
              Upcoming Event
            </h5>
            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
              Meet & network with entrepreneurs and proffessionals
            </p>
          </div>
          <div class="py-6 pt-0">
            <button
              routerLink="/events/1"
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-[#FEAC16] text-black shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
              type="button">
              Buy Tickets
            </button>
          </div>
        </div>

        <div class="block md:hidden w-full h-48 bg-white m-6 rounded-md">
          <div class="flex flex-row">

            <div class="py-6 text-center">
              <h5
                class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                Auto & Parts
              </h5>
              <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
                Meet & network with entrepreneurs and proffessionals
              </p>

              <button
                routerLink="/events/1"
                class="align-middle select-none font-sans border-2 border-black font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg bg-[#FEAC16] text-black hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                type="button">
                Holiday & Travel
              </button>
            </div>



          </div>


        </div>
      </div>
    </section>


  </swiper-slide>

  <swiper-slide role="group" aria-label="NaN / 11" class="">
    <section
      class="bg-[url('https://ik.imagekit.io/verona/bulb/banner_4.jpg?q=75?updatedAt=1708414892078')] relative overflow-hidden min-h-screen flex items-end pb-10 bg-no-repeat bg-cover bg-center w-md -mt-16 pt-16 lg:mt-0 lg:pt-20 lg:items-center">
      <div class="w-full flex flex-row justify-left">
        <div
          class="hidden md:block ml-0 md:ml-32 flex-col m-6 p-6 text-white bg-[#293181] shadow-md bg-clip-border rounded-xl w-96">
          <img class="rounded-lg" src="assets/images/events/auto_parts2.jpeg" alt="card-image" />
          <div class="py-6">
            <h5
              class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
              Upcoming Event
            </h5>
            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
              Meet & network with entrepreneurs and proffessionals
            </p>
          </div>
          <div class="py-6 pt-0">
            <button
            routerLink="/events/1"
              class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-[#FEAC16] text-black shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
              type="button">
              Buy Tickets
            </button>
          </div>
        </div>

        <div class="block md:hidden w-full h-48 bg-white m-6 rounded-md">
          <div class="flex flex-row">

            <div class="py-6 text-center">
              <h5
                class="block mb-2 font-sans text-2xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                Auto & Parts
              </h5>
              <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
                Meet & network with entrepreneurs and proffessionals
              </p>

              <button
              routerLink="/events/1"
                class="align-middle select-none font-sans border-2 border-black font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-2 px-4 rounded-lg bg-[#FEAC16] text-black hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                type="button">
                Buy Tickets
              </button>
            </div>



          </div>


        </div>
      </div>
    </section>


  </swiper-slide>


</swiper-container>
