<div class="bg-gray-100 py-6">
  <div class="container">
    <h2 class="my-4 text-2xl">LATEST VIDEOS</h2>
    <div class="row mt-2">
      <div class="row__inner">
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
          <div class='aspect-video'>
            <iframe class='h-[24vh] w-full rounded-lg' src="https://www.youtube.com/embed/o-daKy-Oj5I?modestbranding=1"
              width="100%" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>

          </div>
          <div class='aspect-video'>
            <iframe class='h-[24vh] w-full rounded-lg' src="https://www.youtube.com/embed/4CHUJUL_daE" width="100%"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
          <div class='aspect-video'>
            <iframe class='h-[24vh] w-full rounded-lg' src="https://www.youtube.com/embed/tiQBNU-tLMY" width="100%"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
          <div class='aspect-video'>
            <iframe class='h-[24vh] w-full rounded-lg' src="https://www.youtube.com/embed/cAzqcQn9D0g" width="100%"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>

          <div class='aspect-video'>
            <iframe class='h-[24vh] w-full rounded-lg' src="https://www.youtube.com/embed/Epx0y7PuL1U" width="100%"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
          <div class='aspect-video'>
            <iframe class='h-[24vh] w-full rounded-lg' src="https://www.youtube.com/embed/01pr4sAfveY" width="100%"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen>
            </iframe>
          </div>
        </div>










      </div>
    </div>
  </div>
</div>
