<div class="bg-gray-100 h-auto lg:px-48 md:py-12">
  <div class="grid grid-cols-2 md:grid-cols-4 flex-wrap">

    <div class="w-full p-4 text-center">
      <div class="w-full relative md:w-3/4 text-center mt-8">
        <button class="flex rounded-full" id="user-menu" aria-label="User menu" aria-haspopup="true">
          <img class="h-30 md:h-40 rounded-full object-cover" src="/assets/logos/bulb.jpg" alt="">
        </button>
      </div>
    </div>

    <div class="w-full p-4 -ml-4 md:col-span-2 text-center">
      <div  class="text-left">
        <span class="text-gray-700 text-left text-2xl mr-2">Upcoming&nbsp;Events</span>
      </div>


      <div class="text-left  pt-3">
        <span class="text-md font-semibold text-gray-700 mr-2">
          <b>50+ </b> Past Events
        </span>
        <span class="text-md font-semibold text-gray-700 mr-2">
          <b>1000+ </b> Attendees
        </span>

      </div>

      <div class="text-left pt-3">
        <span class="text-md font-bold text-gray-700 mr-2">Bulb Interactive Group</span>
      </div>

      <div class="text-left pt-3">
        <p class="text-md font-medium text-blue-700 mr-2">#business #networking #connect #Entrepreneuers #exhibit #pitch</p>
      </div>
    </div>


  </div>

  <!--status show icon-->

  <hr class="border-gray-500 mt-6">


  <!--post icon and title-->
  <div class="flex flex-row mt-4 justify-center mx-12 space-x-4">
    <div class="flex text-gray-700 text-center py-2 m-2 pr-5 border-t-2 border-gray-600">
      <div class="flex">
        <button class="border-transparent text-gray-800 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600" aria-label="Notifications">
          <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M17 14v6m-3-3h6M6 10h2a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2zm10 0h2a2 2 0 002-2V6a2 2 0 00-2-2h-2a2 2 0 00-2 2v2a2 2 0 002 2zM6 20h2a2 2 0 002-2v-2a2 2 0 00-2-2H6a2 2 0 00-2 2v2a2 2 0 002 2z"></path>
          </svg>
        </button>
      </div>
      <div class="flex ml-2 mt-1">
        <h3 class="text-sm font-bold text-gray-800 mr-2">UPCOMING EVENTS</h3>
      </div>
    </div>

    <div class="flex text-gray-700 text-center py-2 m-2 pr-5">
      <div class="flex">
        <button class="border-transparent text-gray-600 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600" aria-label="Notifications">
          <svg class="h-6 w-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24">
            <path d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
          </svg>
        </button>
      </div>
      <div class="flexml-2 mt-1">
        <h3 class="text-sm font-medium text-gray-700 mr-2">VIDEOS</h3>
      </div>
    </div>



    <div class="flex text-gray-700 text-center py-2 m-2 pr-5">
      <div class="flex inline-flex">
        <button class="border-transparent text-gray-600 rounded-full hover:text-blue-600 focus:outline-none focus:text-gray-600" aria-label="Notifications">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 -mt-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
          </svg>

        </button>
      </div>
      <div class="flex inline-flex ml-2 mt-1">
        <h3 class="text-sm font-medium text-gray-700 mr-2">UPCOMING</h3>
      </div>
    </div>
  </div>

  <!--post images-->

  <div class="grid grid-cols-2 md:grid-cols-3 w-full gap-2 md:gap-4 p-3 md:p-10">


    <div *ngFor="let event of upcomingEvents" class="relative border py-6 flex flex-col justify-between text-gray-700 bg-white shadow-md bg-clip-border">
      <div
        class="relative mx-0 overflow-hidden text-white shadow-lg -mt-6 border bg-clip-border bg-blue-gray-500 shadow-blue-gray-500/40">
        <img
          [src]="event.image"
          class="object-fit"
          alt="card-image" />
      </div>
      <div class="p-6">
        <h5 class="block mb-2 font-sans text-sm md:text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
          {{ event.title }}
        </h5>
        <p class="hidden md:block font-sans text-sm antialiased font-light leading-relaxed">
          {{ event.description | slice:0:200 }} ...
        </p>

        <h5 class="block mb-2 font-sans text-sm antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
          {{ event.date }}
        </h5>

      </div>


      <div class="p-6 pt-0">
        <a
          [href]="event.url"
          class="align-middle flex flex-row select-none font-sans text-center font-bold uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs md:py-3 py-3 px-4 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
          type="button">
          Buy Tickets

      </a>
      </div>
    </div>


  </div>



<!-- <app-galleryslider></app-galleryslider>
<app-image-gallery></app-image-gallery>
<app-partners></app-partners> -->
